body {
  background-color: rgb(255,255,255);
  font-family: 'Inconsolata', monospace;
}

#events {
  /*display: block;
  margin-left: auto;
  margin-right: auto;*/
}
#mapContainer {
  display: flex;
  justify-content: center;
}

.event-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  border-width: 3px;
  border-color: rgba(42, 46, 51, 0);
  border-style: solid;
  padding: 5px;
}

.event-info-container {
  padding: 5px;
  padding-bottom: 0px;
  color: rgb(185, 185, 185);
}

.event-progressbar-container {
  width: 900px;
  height: 10px;
}
