body {
  /*background-color: rgb(255,255,255);*/
  font-family: 'Inconsolata', monospace;
  background: #000046;
  background: -webkit-linear-gradient(to right, #484033, #353535);
  background: radial-gradient(ellipse at center, rgb(255, 255, 255) 60%, #ccc 99%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-family: 'VT323', monospace;
  text-align: center;
  color: #9b9b9b;
  font-size: 2.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
#train_ids, #train_ids2 {
  pointer-events: none;
}

#stationName {
  width: 900px;
  color: rgb(21, 231, 138);
  font-weight: 500;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#mapContainer {
  display: flex;
  justify-content: center;
}

.event-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  border-width: 3px;
  border-color: rgba(42, 46, 51, 0);
  border-style: solid;
  padding: 5px;
}

.event-info-container {
  display: flex;
  white-space: pre;
  padding: 5px;
  padding-bottom: 0px;
  color: rgb(105, 105, 105);
}

.inner {
  float: left;
  width: 50%;
}

.inner2 {
  float: left;
  width: 50%;
  text-align: right;
  color: rgb(35, 35, 35);
}

.strongtext {
  color: rgb(35, 35, 35);
}

.timeDeparture {
  text-align: right;
}

.event-progressbar-container {
  width: 900px;
  height: 10px;
}

.colorPrimary {
  color: rgb(27, 255, 154);
  padding: 0;
  margin: 0;
}
